@import '~@/style/var.styl'
@import '~@/style/mixin.styl'
.claim-selectTree
  .multi-box
    border: 1px solid $colorBorder1;
    min-height: 32px;
    background: $colorWhite;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  .multi-item
    white-space: nowrap
    padding: 3px
    border: 1px solid $colorBorder1;
    margin: 2px;
    border-radius: 4px;
    .el-icon-error
      cursor: pointer;
      margin-left: 3px;
.claim-selectTree-box
  max-height: 300px;
  overflow: auto;


