@import '~@/style/var.styl'
@import '~@/style/mixin.styl'

.claim-header
  border-bottom: 1px solid $colorBorder1;
  background: $colorWhite;
  height: 40px
  line-height: 35px
  padding-left: 10px
  font-size: 16px
  margin-bottom: 10px
